div {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    color: white;
    width: 100px;
    font-size: 18px;
}

#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#start {
    background: black
}